html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 25px;
    background-color: #ffeead;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }

